:root {
    --color-primary: #2f4858;
    --color-secondary: #33658a;
    --color-accent: #86bbd8;
    --color-light: #f6ae2d;
    --color-warning: #f26419;

    /* fonts */
    --font-bangers: "Bangers", serif;
    --font-bangers-weight: 400;
    --font-montserrat: "Montserrat", serif;
    --font-hind: "Hind Mysuru", serif;
    --font-hind-weight: 400;
}


@media screen and (min-width: 641px) {
    /* FOOTER */

    footer {
        grid-template-columns: repeat(3, 1fr);
    }

    /* directory */

    .list .card {
        display: flex;
        flex-wrap: wrap;
        /* Permite que los elementos bajen de línea cuando no haya espacio */
        gap: 15px;
        align-items: center;
    }

    .list .card>* {


        flex: 1 1 100px;
        /* Distribuye el espacio equitativamente y permite reducción */
        min-width: 100px;


    }



    /* join.html */



    .main-join {

        grid-template-columns: 1fr 1fr;
    }

    .section-join-welcome {
        grid-column: 1 / -1;
    }



    .button-56 {
        padding: 0 40px;
    }

    .form-join {
        width: 80%;
        margin: 0 auto;
    }









    /* discover.html */

    #places {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }


    .place-card:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
    }


}