:root {
    --color-primary: hwb(203 18% 65%);
    --color-secondary: #33658a;
    --color-accent: #8ec6e4;
    --color-light: #f6ae2d;
    --color-warning: #f26419;

    /* fonts */

    --font-bangers: "Bangers", serif;
    --font-bangers-weight: 400;

    --font-montserrat: "Montserrat", serif;


    --font-hind: "Hind Mysuru", serif;
    --font-hind-weight: 400;

}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-hind);
    color: rgb(41, 38, 38);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-montserrat);
}



a {
    text-decoration: none;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}


header a {
    color: white;
}

header li {
    transition: color 0.2s ease-in-out;

}



a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}


a:active {
    color: var(--color-warning);
}




/* hero */

.hero {
    height: 50vh;
    width: 100%;
    background-image: url("../images/hero.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.hero .hero-content {

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;

}

.hero .hero-content p {
    margin-top: 4rem;

    /* From https://css.glass */

    background-color: rgba(21, 33, 43, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(6px); */
    border: 1px solid rgba(51, 101, 138, 0.14);
    padding: 1rem;
    font-size: clamp(1rem, 3vw, 4rem);
    color: white;
    text-align: center;
    align-content: center;

}


.cta-btn {
    display: flex;
    justify-content: center;
    background-color: var(--color-accent);

    border-radius: 4px;
    align-items: center;
    align-self: center;
    align-content: center;
    border-style: none;
    color: black;
    cursor: pointer;
    font-weight: 700;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: .5rem;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    transition: 0.2s ease-out;
}

.cta-btn:hover,
.cta-btn:focus {
    opacity: .75;
    color: honeydew;
    text-decoration: none;

}


.cta-btn:hover {
    animation: rotate 0.7s ease-in-out both;
}

.cta-btn:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;

}










/* main */




main {
    margin: 0 auto;
    width: 80%;
}





main .home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 2fr 1fr 1fr; */
    gap: .75rem;
    grid-auto-rows: auto;
}

.hero,
main .home h1 {
    grid-column: 1 / -1;

}

.home>div {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}


.home h2,
h3 {
    background-color: var(--color-light);
    color: black;
    font-weight: 600;
}



.home .weather,
.home .forecast {
    text-align: center;
    font-size: clamp(.8rem, 1vh, 1.1rem);
}

.home .weather img {
    min-width: 70px;

}




#forecast {
    color: #213b50;
    margin: .75rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    gap: .75rem;
    grid-auto-rows: auto;
}





#business-list {
    background-color: var(--color-secondary);
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.725rem;
    margin: 3rem 0;
    padding: 1.75rem .5rem;
    justify-content: space-evenly;
}

#business-list figure {
    /* background-color: white; */
    font-size: clamp(.7rem, .7vw, 1rem);
    display: flex;
    flex-wrap: wrap;
    max-width: 420px;
    padding: .25rem;
    border-radius: 10px;
    background-color: white;
    justify-content: center;

}

#business-list figure img {
    border-radius: 10px;
    max-width: 145px;
    object-fit: fill;
    height: auto;
}

#business-list figure figcaption {
    padding: 10px;
    max-width: 200px;
    white-space: normal;
    padding: .25rem;
}


.spot-inf {
    font-style: italic;
}

.spot-key {
    font-weight: 600;
}


/* FOOTER */

footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: .75rem;
    background-color: var(--color-primary);
    color: white;
    padding: 1rem;
    align-items: center;
}

footer h4 {
    color: var(--color-accent);
}

footer p {
    margin: 0.135rem 0;
}

footer .footer-socialmedia ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}












/* DIRECTORY PAGE */


.section-btns {
    text-align: center;
    margin: 2rem;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btns button {
    border: 2px solid var(--color-accent);
    background-color: white;
    vertical-align: middle;
    display: grid;
    align-items: center;
    align-content: center;
    transition: 0.1s ease-out;
}

.btns button:hover {
    cursor: pointer;
    transform: scale(1.02);
}


#cards.grid {
    display: grid;
    gap: 1.2rem;
    width: 90%;
    margin: 1rem auto;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

}

#cards>.card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: .8rem;
    padding: .5rem;
    text-align: center;
}

#cards h3 {
    color: #af4c17;
    margin-bottom: .7rem;
}

#cards.grid .image-container {
    max-width: 250px;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

#cards img {
    width: 100%;
}





/* list change js */


.list {
    grid-template-columns: 1fr;
}


.list .card {
    display: flex;
    gap: 15px;
    align-items: center;

    flex-wrap: wrap;
}

.list .card>* {
    /* flex: 1;
    min-width: 0; */
    /* flex: 1 1 40px;
    justify-content: center;
    justify-items: center;
    text-align: center; */
    /* Distribuye el espacio, pero permite reducción */

    /* Evita que los elementos sean demasiado pequeños */


}

.list .image-container {
    max-width: 50px;

}

.list .card:nth-child(even) {
    background-color: var(--color-accent);
}





.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid var(--);
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: var(--color-light);
    border-radius: 8px;
    content: "";
    display: block;
    height: 40px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(6px, 6px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}





/* join.html */

.main-join {
    display: grid;
    row-gap: 1rem;
}


#membership-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
    align-content: start;
    gap: 1rem;
}

.membership-container-title {
    grid-column: 1 / -1;
    background-color: var(--color-light);
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.membership-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 250px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    max-height: 200px;
    padding: 1rem;
    transition: 0.3s;
    animation: fadeInUp 1.3s ease-in-out forwards;
}






/* dialog */



dialog {
    margin: 1rem auto;
    top: 30%;
    border: 1px solid rgba(172, 170, 170, 0.685);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    max-width: 500px;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    opacity: 0;
    transform: scale(0.8);
}

::backdrop {
    background-color: rgba(61, 58, 78, 0.3);
}


dialog p,
dialog h2 {
    width: 80%;
    margin: 0 auto;
}

dialog h2 {
    margin: .2rem auto .6rem auto;
    color: var(--color-secondary);

}



dialog button {
    position: absolute;
    top: 1.4rem;
    right: 1.6rem;
    border: none;
    background-color: white;
    cursor: pointer;
}


dialog[open] {
    animation: fadeIn 0.3s ease-out forwards;
}



/* thanks.html */


#display-result {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.custom-table th,
.custom-table td {
    border: 1px solid black;
    text-align: center;
}







/* discover.html */

#places {
    display: grid;
    gap: 1rem;
    justify-content: center;

}

.place-card {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(232, 239, 248);
    border-radius: 10px;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: .5rem;
    padding: .5rem;
    transition: .2s all;
    overflow: hidden;
    grid-template-areas:
        "name"
        "image"
        "location"
        "description";
}


.image-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    grid-area: image;
}

.image-container img {

    width: 100%;
    max-width: 300px;
    max-height: 200px;
}

.place-card h3 {
    grid-area: name;
}

.place-card .place-address {
    grid-area: location;
}

.place-card .place-description {
    font-style: italic;
    font-size: .8rem;
    grid-area: description;
}

.sidebar {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}





@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

dialog.closing {
    animation: fadeOut 0.2s ease-in forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}