:root {
    /* FIRST PALLET */
    --primary-color: #17474b;
    /*--primary-color: #e05215; */
    --secondary-color: #2d3142;
    --white-color: var(--b-white-color);
    --background-color: #bfc0c0;
    --auxiliar-color: #4f5d75;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", serif;
    font-weight: 600;
    font-style: normal;
}

body {

    font-family: "Source Code Pro", serif;
    font-weight: 400;
    font-style: normal;

}




.presentation {
    display: grid;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.presentation img {
    max-width: 120px;
}

image {
    width: 100%;
    height: auto;
}

main {
    width: 90%;
    margin: 0 auto;
    display: grid;
}

section {
    padding: .5rem;
    margin: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

section h2 {
    background-color: rgb(64, 68, 116);
    color: white;
    border-radius: 7px;
    padding: 0.25rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}


.link-courses {
    display: grid;
}

.link-courses a {
    text-decoration: none;
}

main .link-courses .ul-courses-filter ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.ul-courses-filter {
    margin: 0.415rem;
}

.credit-parent {
    margin: .5rem auto;
}

.ul-courses {
    margin: 1rem;
}



.ul-courses ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.country {
    text-align: center;
}

.country img {

    max-width: 400px;
}

.button-31 {
    background-color: #222;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    transition: .3s;
}

.button-31:hover,
.button-31:focus {
    opacity: .75;
}




/* CSS */

.button-24 {
    background: var(--primary-color);
    border: 1px solid #2e5c58;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    transition: .2s;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #2e5c58;
}

.button-24:active {
    opacity: .5;
}


footer {

    background-color: var(--primary-color);
    color: var(--b-white-color);
    text-align: center;
    padding: 1rem;
}

footer .footer-dev p {

    color: #fff;

}