* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    text-align: center;

}

#cards {
    padding-top: 2rem;
    padding: 1rem;
    background: rgb(152, 34, 79);
    background: -moz-linear-gradient(0deg, rgba(152, 34, 79, 1) 0%, rgba(68, 16, 25, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(152, 34, 79, 1) 0%, rgba(68, 16, 25, 1) 100%);
    background: linear-gradient(0deg, rgba(152, 34, 79, 1) 0%, rgba(68, 16, 25, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#98224f", endColorstr="#441019", GradientType=1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    justify-content: center;



}


#cards h2 {
    color: rgb(100, 39, 39);
    margin-bottom: .5rem;
}

#cards section {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    background-color: blanchedalmond;
    padding: .5rem;
}

#cards img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: .75rem;
}

h1,
footer {
    text-align: center;
}

h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    font-size: 1.4rem;
    min-height: 60px;
    align-content: center;
}